.principal-login {
    background-image: url("../img/fondo-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.central-login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh 300vw;
}

.form-login {
    height: 10vh;
    display: block;
}

.form-login > form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.input-login{
    width: 20vw;
    height: 4vh;
    font-size: 24px;
    font-family: auto;
}

.boton-comenzar{
    width: 20vw;
    height: 8vh;
    font-size: 36px;
    color: aqua;
    background-color: blueviolet;
    border-radius: 10px;
    font-family: 'Orbitron';
    font-size: 5vh;
}