@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    color: gold;
}

.nav{
    display: flex;
    justify-content: center;
}


.body-principal{
    background-image: url("../img/fondo-principal.jpg");
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../img/fondo-tienda.jpg");
    background-size: cover;
}

.lista-opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vh;
    width: 20vw;
    font-size: 3vh;
}

.principal{
    display: flex;
    gap: 100px;
}

.logo-tienda{
    height: 10vh;
}

.busqueda {
    height: 6vh;
}

.texto-lista-productos{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';
}

.productos-nav{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.boton-ordenar{
    border-radius: 5px;
    font-family: 'Orbitron', sans-serif;
    color: gold;
    background-color: rgb(77, 75, 75);
}

.boton-ordenar:hover{
    cursor: url("../img/darth_vader_cursor_32.png") 48 48, auto;
}