@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    color: var(--text);
}

[data-theme="light"] {
    --primary: #2a83d6;
    --background: #ffffff;
    --text: #2a83d6;
    --imagen: url("../img/fondos/fondo-claro-gemini.png");
    --nav: green;
    --fondo-nav: url("../img/fondos/fondo-nav-claro.jpg");
}

[data-theme="dark"] {
    --primary: #e9833e;
    --background: #000000;
    --text: gold;
    --imagen: url("../img/fondos/fondo-principal.jpg");
    --nav: orange;
    --fondo-nav: url("../img/fondos/fondo-nav-oscuro.jpg");
}

.nav{
    display: flex;
    justify-content: center;
}

.nav a {
    color: var(--nav);
}

.body-principal{
    background-image: var(--imagen);
    background-size:contain;
    background-repeat:repeat;
    height: 160vh;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: var(--fondo-nav);  /*fondo del nav */
    background-size: cover;
}

.body-ticket{
    background-image: url("../img/fondos/dart-vader-sad.jpg"); /*fondo del nav de ticket */
}

.header-ticket{
    background-image: url("../img/fondos/dart-vader-sad.jpg"); /*fondo del main de ticket */
}

.activo {
    color: aqua !important;
}

.boton-carrito{
    color: gold;
    font-family: Orbitron;
    background-color: #362323cc;
    border-color: gold;
    border-radius: 4px;
    margin-bottom: 1vh;
    margin-top: -10px;
}

.boton-carrito:hover {
  background-color: #1a9bc6;
  cursor: pointer;
}

.boton-carrito:active{
    border-color: rgb(23, 126, 177);
}

.principal{
    display: flex;
    gap: 100px;
}

.logo-tienda{
    height: 10vh;
}

.busqueda {
    height: 6vh;
}

.lista-opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16vh;
    width: 20vw;
    font-size: 3vh;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--background);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}