@import url("styles-general.css");

.lista-opciones a{
    color: #ffe200;
}

.principal-login {
    background-image: url("../img/fondos/estrella\ de\ la\ muerte.jpeg");
    /* background-image: url("../img/dart-vader-sad.jpg"); */
    /* background-image: url("../img/fondo-login.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.central-login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh 300vw;
}

.div-form {
    height: 10vh;
    display: block;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.input-login{
    width: 20vw;
    height: 4vh;
    font-size: 24px;
    font-family: auto;
    border-radius: 8px;
}

.boton-comenzar{
    width: 20vw;
    height: 8vh;
    font-size: 36px;
    color: var(--text);
    background-color: var(--background);
    border-radius: 10px;
    font-family: 'Orbitron';
    font-size: 5vh;
    border-color: var(--text);
}

.texto-admin {
    margin-top: 7vh;
    margin-bottom: 0px;
}