@import url(styles-general.css);


.body-ticket{
    background-image: var(--fondo-ticket); /*fondo del nav de ticket */
    color: var(--primary);
}

.header-ticket{
    background-image: var(--fondo-ticket); /*fondo del main de ticket */
}

.info-producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px 0px 0px 0px;
}

.info-producto h4 {
    width: 15vw;
}

.boton-general {
    height: 6vh;
    width: 10vw;
    font-size: 2vh;
}

.contenedor-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-compra {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}