@import url("styles-general.css");

.boton-ordenar:hover{
    cursor: url("../img/fondos/darth_vader_cursor_32.png") 48 48, auto; /*cursor de dart vader */
}

.texto-lista-productos{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';
}

.productos-nav{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
}

.boton-ordenar{
    border-radius: 5px;
    font-family: 'Orbitron', sans-serif;
    color: var(--primary);
    background-color: var(--background);
    font-size: 3vh;
}

.productos-contenedor{
    display: flex;
    gap: 2vh;
    margin-top: 6vh;
    flex-wrap: wrap;
    margin-left: 10vh;
    margin-right: 10vh;
}

.card-producto{
    border: 2px solid;
    border: 4px double;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 3vh;
    width: 20vw;
    gap: 0.5vh;
    border-radius: 8px;
    background-color: var(--background);
    height: 55vh;
}

.card-producto img{
    padding-top: 15px;
    width: 15vw;
    height: 30vh;
    border-radius: 8px;
}

.card-producto h5{
    height: 45px;
    margin-bottom: 0px;
    /* border: 1px solid; estos son los bordes de las tarjetas */
    margin-top: 0px;
    /*display: flex;
    align-items: center;
    text-align: center;
*/
}

.card-producto p {
    margin-top: 0px;
    /* border: 1px solid; estos son los bordes de las tarjetas */
}

.section-pre-productos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

.boton-subir{
    position: fixed;
    border-radius: 5px;
    border: none;
    height: 5vh;
    width: 2vw;
    bottom: 20px;
    right: 20px;
    
}

.boton-subir a {
    font-size: 4vh;
}

.barraBusqueda{
    height: 4vh;
    width: 20vw;
    font-size: 2vh;
    background-color: var(--background);
    color: var(--text);
    border-radius: 4px;
}

.barraBusqueda[type="text"]::placeholder {
    color: var(--primary);
}