.carrito-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-carrito{
    display: flex;
    list-style: none;
}

.lista-carrito{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.productos-carrito li{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 45vh;
    flex-wrap: wrap;
}
.productos-carrito li div img{
    width: 15vw;
    height: 30vh;
}

.botones{
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    flex-wrap: wrap;
}