.carrito-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-carrito{
    display: flex;
    list-style: none;
}

.lista-carrito{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.productos-carrito li{
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 26px;
}

.botones{
    display: flex;
}