@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body{
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
/**
.nav, .header, .principal, .productos{
    border: 2px solid
}
**/

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/fondo-nav.jpg");
    background-size: cover;
}

.lista-opciones{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 20vw;
    font-size: 2vh;
}

.principal{
    display: flex;
    gap: 100px;
}

.logo-tienda{
    height: 10vh;
}

.busqueda {
    height: 6vh;
}